<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>信息窗口</title>

<style type="text/css">

.infowin{
	margin: 0px;
  	width: 100%;
  	height: 100%;
  	overflow: auto;
}

.infowintab{
	clear: both;
}


.infowintab li{
	float: left;
	padding: 5px 5px;
	list-style-type: none;
	height: 40px;
	line-height: 40px;
}
</style>
</head>
<body>
	<div id="info_window" class="infowin">
		<ul class="infowintab">
			<li>基本信息</li>
			<li>监测数据</li>
			<li>视频图像</li>
		</ul>
		<div id="" class="" style="display: none;"></div>
		<div id="" class="tab-curr">
			<table id="point_list" cellspacing="0" cellpadding="0">
				<thead>
				<tr>
					<td>测试1</td>
					<td>测试1</td>
					<td>测试1</td>
				</tr>
				<tr>
					<td>测试1</td>
					<td>测试1</td>
					<td>测试1</td>
				</tr>
				<tr>
					<td>测试1</td>
					<td>测试1</td>
					<td>测试1</td>
				</tr>
			</thead>
			</table>
		</div>
		<div id="" class="" style="display: none;"></div>
	</div>
</body>
</html>